body {
    background-color: rgb(5, 31, 60);
    color: antiquewhite;
}

div.container {
    border: 8px solid white;
    border-radius: 50px;
    margin: 5px;
}

div.addPlayersContainer {
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    background-color: white;
    border-radius: 40px;
    margin: 20px 10px;
    padding: 0 5px;
}

.addPlayersContainer h1 {
    margin: 0 10px;
    color: black;
}

.addPlayersContainer input {
    border: none;
    text-align: center;
    font-size: 18px;
}

.addPlayersContainer button {
    width: 100px;
    height: 26px;

    background-color: black;
    color: white;
    border-radius: 81px;
}

.addPlayersContainer h1,
.addPlayersContainer input,
.addPlayersContainer button {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div.infoGame {
    text-align: center;
    font-size: 40px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 10px solid white;
    border-radius: 77px;
    padding: 10px;
    color: white;
}

div.displayContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.divPlayersContainer,
.nameStat,
.scoreStat,
.volleyStatsContainer,
.cellStat
 {
    border: 1px solid white;
    border-radius: 15px;
    padding: 2px 5px;
}

div.divPlayersContainer {
        margin-top: 20px;
}

div.playerStat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size:3vw;
    margin: 5px 0;
}



div.volleyStatsContainer {
    display: flex;
    margin-left: auto;
}

div.cible {
    width: 50%;
}

div.info {
    min-width: 40%;
}

.cible svg {
    width: 100%;
    height: 80vh;
}

.cible svg:hover {
    cursor: crosshair;
}

.cible svg path.zone:hover {
    fill: #7c88b8;
}

.startBtn {
    width: 100%;
    border-radius: 77px;
    border: 10px solid #1E3799;
    background-color: #4A69BD;
    font-size: 64px;
    font-family: "Pixelify Sans", sans-serif;
    color: #1E3799;
}

.missedBtn {
    width: 100%;
    border-radius: 77px;
    border: 10px solid #4A1F82;
    background-color: #9747FF;
    font-size: 4vw;
    font-family: "Pixelify Sans", sans-serif;
    color: #4A1F82;
    margin-top: 20px;
}
.missedBtn:hover {
    cursor: pointer;
}

.displayCurrentPlayer {
    border: 1px solid white ;
}

@media screen and (max-width: 1000px) {
    div.displayContainer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    div.cible {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cible svg {
        height: auto;
        width: 95%;
    }
}